{ "presets": [
  ["env", {
    "targets": {
      "chrome": "58",
      "ie": "11",
      "firefox": "61"
    },
    "useBuiltIns": true
  }]
],
  "plugins": [
    "transform-custom-element-classes",
    "transform-es2015-classes"
  ]
}
