---
title: Icon
styles: [icons]
---

p.-text Chi has adopted a subset of icons from Cyclops and CenturyLink's Cloud Application Manager.

h3 Using Icons
p.-text Icons can be added via SVG or Web Font. Choose the method that best suits your projects needs.

h4 SVG & Web Component Method
p.-text SVG and Web Components based implementations provide better semantics, accessibility, rendering, and reliability. Place the following script in your projects footer to use this method.
.-mb2
  :code(lang='html')
    <script src="https://assets.ctl.io/chi/0.8.2/chi-icons.js"></script>
p.-text Then to render an SVG icon, use the chi-icon tag and specify the img you want to use.
.example.-mb3
  .-p3
    chi-icon(img='logo-centurylink')

  :code(lang="html")
    <chi-icon img="logo-centurylink"></chi-icon>

h4 Web Font & CSS Method
p.-text Web Font based implementations offer the widest browser support, fastest rendering speed, and require no additional script or stylesheet.
p.-text To render a Web Font icon, apply the class <code>a-icon</code> to an <code>&lt;i&gt;</code> tag and specify the name of the icon you wish to use in the <code>&lt;i&gt;</code>'s class attribute:
.example.-mb3
  .-p3
    i(class='a-icon icon-logo-centurylink')
  :code(lang="html")
    <i class="a-icon icon-logo-centurylink"></i>

h3 Sizes
p.-text By default, icons render at 16x16px (<code>-sm</code>). Apply size classes to render icons larger or smaller:
  | <code>-xs</code>, <code>-sm</code>, <code>-md</code>, <code>-lg</code>, <code>-xl</code>, <code>-xxl</code>.
p.-text Two alternate small classes are available for specific app scenarios. Use <code>-sm2</code>
  | for displaying 20px icons within a 40px container (e.g. large button), and <code>-sm3</code> for displaying
  | 24px icons within a 48px container.
.example.-mb3
  .-p3
    .a-grid.-align-items--end
      each size in ['xs', 'sm', 'md', 'lg', 'xl', 'xxl']
        div.-p2
          chi-icon(img='logo-centurylink')(class=`-${size}`)
  :code(lang="html")
    <!-- -xs : 12x12px -->
    <chi-icon img="logo-centurylink" class="-xs"></chi-icon>
    <!-- -sm : 16x16px -->
    <chi-icon img="logo-centurylink" class="-sm"></chi-icon>
    <!-- -md : 32x32px -->
    <chi-icon img="logo-centurylink" class="-md"></chi-icon>
    <!-- -lg : 64x64px -->
    <chi-icon img="logo-centurylink" class="-lg"></chi-icon>
    <!-- -xl : 96x96px -->
    <chi-icon img="logo-centurylink" class="-xl"></chi-icon>
    <!-- -xxl : 128x128px -->
    <chi-icon img="logo-centurylink" class="-xxl"</chi-icon>

h3 Colors
p.-text By default, icons are the same color as text. Use Chi text color utilities to set a specific color.
.example.-mb3
  .-p3
    .a-grid.-align-items--end
      each color in ['Base', 'Brand', 'Success', 'Warning', 'Danger', 'Info', 'Inverse', 'Muted']
        div.-p2
          chi-icon(img='logo-centurylink')(class=`-md -text${color}`)
  :code(lang="html")
    <chi-icon img="logo-centurylinlk" class="-md"></chi-icon>
    <chi-icon img="logo-centurylinlk" class="-md -textBrand"></chi-icon>
    <chi-icon img="logo-centurylinlk" class="-md -textSuccess"></chi-icon>
    <chi-icon img="logo-centurylinlk" class="-md -textWarning"></chi-icon>
    <chi-icon img="logo-centurylinlk" class="-md -textDanger"></chi-icon>
    <chi-icon img="logo-centurylinlk" class="-md -textInfo"></chi-icon>
    <chi-icon img="logo-centurylinlk" class="-md -textInverse"></chi-icon>
    <chi-icon img="logo-centurylinlk" class="-md -textMuted"></chi-icon>

h3 Available Icons
.a-grid.icon-library.-pt2.-pb6
  each name in ['activity', 'address-book', 'arrow-down', 'arrow-left', 'arrow-right', 'arrow-up', 'arrow-to-bottom', 'arrow-vertical', 'arrows','asterisk', 'atom', 'ban', 'bank', 'bell-off', 'bell', 'box-application', 'box-cloudformation', 'box-container', 'box-deployment', 'box-fill', 'box-outline', 'box-script', 'box', 'chart-bar', 'chart-pie', 'chat', 'check-alt', 'check', 'checkbox-checked', 'checkbox', 'chevron-down', 'chevron-left', 'chevron-right', 'chevron-up', 'circle-alert-outline', 'circle-alert', 'circle-arrow-down-outline', 'circle-arrow-down', 'circle-arrow-up-outline', 'circle-arrow-up', 'circle-check-outline', 'circle-check', 'circle-clock-outline', 'circle-clock', 'circle-code-outline', 'circle-code', 'circle-gear-outline','circle-gear', 'circle-info-outline', 'circle-info', 'circle-minus-outline', 'circle-minus', 'circle-outline', 'circle-play-outline', 'circle-play', 'circle-plus-outline', 'circle-plus', 'circle-question-outline', 'circle-question', 'circle-reload-outline', 'circle-reload', 'circle-stop-outline', 'circle-stop', 'circle-warning', 'circle-x-outline', 'circle-x', 'circle', 'cloud', 'cost', 'database', 'delete', 'edit', 'file-error-outline', 'file-outline', 'file', 'filter', 'folder-gear', 'folder-open', 'folder', 'globe-network', 'globe-outline', 'grid', 'heart', 'home', 'key', 'life-ring', 'link', 'list', 'lock-outline', 'lock', 'logo-amazon', 'logo-aws', 'logo-azure', 'logo-centurylink', 'logo-cloudstack', 'logo-dimensiondata', 'logo-facebook', 'logo-github', 'logo-google', 'logo-hp', 'logo-linkedin', 'logo-linux', 'logo-openstack', 'logo-rackspace', 'logo-softlayer', 'logo-twitter', 'logo-vcloud', 'logo-vsphere', 'logout', 'mail', 'map-marker-alt', 'map-marker', 'menu', 'microphone-mute', 'microphone', 'minus-alt', 'minus', 'more-vert', 'more', 'nodes', 'number', 'pause', 'phone', 'play', 'plus-alt', 'plus', 'radio-checked', 'radio', 'refresh', 'rocket', 'search', 'settings', 'share', 'shield', 'shopping-cart', 'star-outline', 'star', 'stop', 'sync', 'tag-outline', 'tag', 'text', 'triangle-down', 'triangle-left', 'triangle-right', 'triangle-up', 'user', 'users', 'verified', 'video-camera-mute', 'video-camera', 'visible-off', 'visible', 'warning', 'x-alt', 'x']
    .a-col.-w6.-xl--w2.-lg--w3.-md--w6.-mb2
      .a-card.-py4
        .a-card__content
          chi-icon(img=`${name}`)
      p.-textCenter=name
