---
title: JavaScript
---
p#id.-text
  | JavaScript blah blah blah

script(src=`../../js/util.js`)
script(src=`../../js/chiModule.js`)
script(src=`../../js/chiModuleB.js`)


// != '<script>chi.chi.module(document.getElementById("id"), {});</script>'
