---
title: Textareas
---

p.-text Textareas are used to input multi-line text data

h3 Examples
p.-text
  | To render a textarea, apply the class <code>a-input</code> to a <code>textarea</code>.

h4 Base
.example.-mb3
  .-p3
    .a-formGroup(style="max-width:30rem")
      textarea.a-input Sample text
  :code(lang="html")
    <textarea class="a-input">
      Sample text
    </textarea>

h4 Disabled
.example.-mb3
  .-p3
    .a-formGroup(style="max-width:30rem")
      textarea.a-input(disabled) Sample text
  :code(lang="html")
    <textarea class="a-input" disabled>
      Sample text
    </textarea>

h3 Icons
p.-text
  | To add icons to a textarea, wrap the input in a <code>div</code> using the class <code>a-inputWrapper</code>.
  | Next, add the icon as a sibling of the <code>textarea</code> and use an icon alignment utility class
  | (e.g. <code>-iconLeft</code>) to specify where it should be placed.

h4 Left Aligned
.example.-mb3
  .-p3
    .a-inputWrapper.-iconLeft(style="max-width:30rem")
      textarea.a-input Sample text
      chi-icon(img='edit').-textMuted
  :code(lang="html")
    <div class="a-inputWrapper -iconLeft">
      <textarea class="a-input">
        Sample text
      </textarea>
      <chi-icon img="edit" class="-textMuted"></chi-icon>
    </div>

h4 Right Aligned
.example.-mb3
  .-p3
    .a-inputWrapper.-iconRight(style="max-width:30rem")
      textarea.a-input Sample text
      chi-icon(img='edit').-textMuted
  :code(lang="html")
    <div class="a-inputWrapper -iconRight">
      <textarea class="a-input">
        Sample text
      </textarea>
      <chi-icon img="edit" class="-textMuted"></chi-icon>
    </div>

h4 Left + Right Aligned
.example.-mb3
  .-p3
    .a-inputWrapper.-iconLeft.-iconRight(style="max-width:30rem")
      textarea.a-input Sample text
      chi-icon(img='edit').-textMuted
      chi-icon(img='check').-textMuted
  :code(lang="html")
    <div class="a-inputWrapper -iconLeft -iconRight">
      <textarea class="a-input">
        Sample text
      </textarea>
      <chi-icon img="edit" class="-textMuted"></chi-icon>
      <chi-icon img="check" class="-textMuted"></chi-icon>
    </div>

h3 States

p.-text
  | Textareas offer three validation states: <code>-success</code>,
  | <code>-warning</code>, and <code>-danger</code>.

h4 Success
.example.-mb3
  .-p3
    .a-formGroup(style="max-width:30rem")
      textarea.a-input.-success Sample text
  :code(lang="html")
    <textarea class="a-input -success">
      Sample text
    </textarea>

.example.-mb3
  .-p3
    .a-inputWrapper.-iconRight(style="max-width:30rem")
      textarea.a-input.-success Sample text
      chi-icon(img='check').-textSuccess
  :code(lang="html")
    <div class="a-inputWrapper -iconRight">
      <textarea class="a-input -success">
        Sample text
      </textarea>
      <chi-icon img="check" class="-textSuccess"></chi-icon>
    </div>

h4 Warning
.example.-mb3
  .-p3
    .a-formGroup(style="max-width:30rem")
      textarea.a-input.-warning Sample text
  :code(lang="html")
    <textarea class="a-input -warning">
      Sample text
    </textarea>

.example.-mb3
  .-p3
    .a-inputWrapper.-iconRight(style="max-width:30rem")
      textarea.a-input.-warning Sample text
      chi-icon(img='warning').-textWarning
  :code(lang="html")
    <div class="a-inputWrapper -iconRight">
      <textarea class="a-input -warning">
        Sample text
      </textarea>
      <chi-icon img="warning" class="-textWarning"></chi-icon>
    </div>

h4 Danger
.example.-mb3
  .-p3
    .a-formGroup(style="max-width:30rem")
      textarea.a-input.-danger Sample text
  :code(lang="html")
    <textarea class="a-input -danger">
      Sample text
    </textarea>

.example.-mb3
  .-p3
    .a-inputWrapper.-iconRight(style="max-width:30rem")
      textarea.a-input.-danger Sample text
      chi-icon(img='circle-warning').-textDanger
  :code(lang="html")
    <div class="a-inputWrapper -iconRight">
      <textarea class="a-input -danger">
        Sample text
      </textarea>
      <chi-icon img="circle-warning" class="-textDanger"></chi-icon>
    </div>

h3 Additional Sizes

p.-text Textareas offer two size modifiers: <code>-small</code> and <code>-large</code>.

h4 Small
.example.-mb3
  .-p3
    .a-formGroup(style="max-width:30rem")
      textarea.a-input.-small Sample text
  :code(lang="html")
    <textarea class="a-input -small">
      Sample text
    </textarea>

h4 Large
.example.-mb3
  .-p3
    .a-formGroup(style="max-width:30rem")
      textarea.a-input.-large Sample text
  :code(lang="html")
    <textarea class="a-input -large">
      Sample text
    </textarea>
